body
{
    background: rgb(255,255,255);
    background: linear-gradient(36deg, rgba(255,255,255,1) 0%, rgba(241,131,14,1) 100%, rgba(89,0,255,1) 100%);
    color:black;
     height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:5%;
    margin-left:5%;
}
/* unvisited link */
a:link,a:visited {
  color: indigo;
}


/* mouse over link */
a:hover,a:active {
  color: blue;
}
a
{
    padding-bottom:5%;
}
h1
{
    font-family: 'Karantina', cursive;
}
h3,h2
{
    font-family: 'Noto Sans', sans-serif;
}
a,li,p,table
{
    font-family: 'Roboto Condensed', sans-serif;
}
input[type=submit] {
    padding:5px 15px; 
    font-family: 'Noto Sans', sans-serif;
    border-radius: 20%; 
    box-shadow: 1px 2px;
    margin:10px 5px;
}